/* Mobile */
@media (max-width: 575.98px){
    .logo{
        display: block;
        transform: translate(5px,0);
        text-align: center;
        
    }
    .vision-imge{
        display: none;
    }
    .service-section{
        text-align: center;
    }
    .title-services{
        text-align: center;
        margin-right: 70px;
    }
    .service-item h3 {
        max-width: 282px;
    }

}
/* tablet */
@media (max-width: 991.98px) and  (min-width:575.98px ){
    .logo{
        display: block;
        transform: translate(5px,0);
        text-align: center;
    }
    .service-section{
        text-align: center;
        
    }
    .service-img{
        text-align: center;
        margin-right: 100px;
    }
    .title-services{
        text-align: center;
        margin-right: 100px;
    }
    .service-item{
        text-align: center;
    }
    .service-item h3 {
        max-width: 282px;
    }

}